
.form-buttons > button{
    margin-right: 5px;
    margin-top: 5px;
}

input[type=text]{
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .personal-form, .education-form, .work-form{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .form-label{
    margin:10px;
    font-size: 20px;
  }