html,body{
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #root{
    height: 100%;
    width: 100%;
  }
  
  .App{
    
    height: 100%;
   
  }
  
 
  
  .personal-form-container{
    grid-area: pf;
  }
  
  .display{
    grid-area: dis;
  }
  
  .education-form-container{
    grid-area: ef;
  }
  
  .form-container, .education-form-container{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 100%;
  }
  
  .app-container{
    display: grid;
    grid-template-columns: .75fr 1fr;
    grid-template-rows: .5fr, 1fr 1fr, 1fr, .5fr;
    grid-template-areas: 
    'hd hd'
    'pf dis'
    'ef dis'
    'wf dis'
    'ft ft'
    ;
    height: 100%;
  }

  .display{
    margin: 20px;
  }

  .header{
    grid-area: hd;
    font-size: 48px;
    border-bottom: 1px solid black;
  }

  .footer{
    grid-area: ft;
    border-top: 1px solid black;
  }